exportPattern("^[[:alpha:]]+")
 S3method(print, EA_class)
 S3method(print, GAN_class)
 S3method(print, YZ_class)
 import(nloptr)
 importFrom(stats, cutree, dist, hclust)
 importFrom(nloptr, neldermead)